
<%= @game.players.first.name %> paralysed <%= @game.players.last.name %>

<% if @game.current_player == @game.player_1 %>

<a href="/play"> Back to BATTLE!! </a>

<% else %>

<META HTTP-EQUIV="refresh" CONTENT="3;URL=/compplay">

<% end %>
